@import url('https://fonts.googleapis.com/css2?family=Crafty+Girls&family=Mystery+Quest&display=swap');
* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: "Crafty Girls", cursive;
}
img {
    width: 670px;
    object-fit: cover;
}
.single-column {
    width: 80%;
    max-width: 900px;
    margin: 0px auto;
}
.light-container {
    background-color: lightyellow;
    padding: 48px 0px;
}
.single-column a #sf img {
    width: 300px;
}
h1 {
    color: #ce7807;
    background-color: #3a5018;
    border-radius: 15px;
    box-shadow: 6px -5px #0f1603;
    padding: 7px;
    font-family: "Mystery Quest", system-ui;
}
h2 {
    color: #fdd210;
    border: 3px solid #0f1603;
    background-color: #608a21;
    padding: 3px;
    font-family: "Mystery Quest", system-ui;
}
.sn {
    color: darkgreen;
    font-weight: 600;
}
p {
    margin: 28px 80px 40px 0px;
}