* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
img {
    width: 50%;
    display: block;
    margin: 0px auto;
}
/* Resets Above */
.single-column {
    width: 90%;
    max-width: 1280px;
    margin: 0px auto;
    padding: 20px;
}
.nb{
    text-align: center;
}
#lr {
    display: block;
    width: 40%;
    margin-bottom: 20px;
}
a {
    color: #f8e218;
}
body {
    background-color: #a52a2a;
}
hr {
    color: #f8e218;
}
.single-column h2 {
    color: #f5bc00;
}
.single-column hr {
    color: #f8b219f1;
}
.nav {
    margin: 20pt;
    font-size: 14pt;
    text-align: center;
}
.tabs {
    margin: 15pt;
    font-size: 14pt;
    text-align: center;
}
.time {
    margin-left: 20pt;
}
a {
    text-decoration: none;
}
body {
    color: #bdb996;
}
.credit {
    text-align: center;
}
.title {
    text-align: center;
    font-size: 18pt;
}