h1{
    color: #069c45;
    background-color: rgb(211, 212, 131);
}
#p1{
    color: #069c45;
    background-color: black;
    padding: 20px;
}
span{
    font-weight: 700;
}
#s1{
    color: rgb(211, 212, 131);
}