* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.single-column {
    width: 90%;
    max-width: 900px;
    margin: 0px auto;
}

header {
    background-color: lightblue;
    border: 4px solid #c9b612;
}
nav {
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: flex-end;
}
h2 {
    margin-right: auto;
    font-size: 28px;
}
nav a {
    color: black;
    text-decoration: none;
    font-weight: 600;
}
#subscribe a {
    background-color: #b99573;
    padding: 3px 9px;
    border: 2px solid #916945;
    font-weight: 600;
}
h1 {
    text-align: center;
}