* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    font-family: sans-serif;
    background-color: #f7eaa0;
}
img {
    width: 100%;
    object-fit: cover;
}
/* Resets Above */
.single-column {
    width: 90%;
    max-width: 800px;
    margin: 0px auto;
}
#logo {
    width: 125px;
}
#hero-4 {
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: flex-start;
}
#hero-4 .hero-content {
    color: #083586;
    display: flex;
    margin: 0px auto;
    background-color: #cea10c91;
    padding: 10px 130px;
}
#wp a {
    text-decoration: none;
    color: #083586;
    font-size: 20px;
    padding: 1px;
}
#opener {
    margin-top: 1px;
}
p {
    font-size: 20px;
    padding: 10px;
}
ul {
    padding-left: 30px;
}
li {
    padding: 3px;
}
/* Cats */
#tgp {
    background-color: #cea10c91;
    padding: 5px 25px 5px;
}
#tgp a {
    text-decoration: none;
    color: #083586;
    font-size: 20px;
}
.basic-gal.three {
    grid-template-columns: 2fr 2fr 2fr;
}
/* Dogs/Torts */
h1 {
    padding-top: 6px;
    padding-left: 35px;
}
#wgp {
    background-color: #cea10c91;
    padding: 5px 25px 5px;
}
#wgp a {
    text-decoration: none;
    color: #083586;
    font-size: 20px;
    padding: 1px;
}
.basic-gal {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    padding: 15px;
}
.basic-gal img {
    height: 100%;
}