@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Kaushan+Script&display=swap');
* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: "Kaushan Script", cursive;
    background-color: #bcf5e2;
}
img {
    width: 100%;
    object-fit: cover;
}
/* Resets Above */
.single-column {
    width: 90%;
    max-width: 1280px;
    margin: 0px auto;
}
#centered-hero {
    background-image: url("../images/ch.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 30px;
    font-size: 35px;
    font-family: "Arizonia", cursive;
}
.land-gal {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 2px solid #ffa600;
    margin-bottom: 30px;
}
.content h1 {
    padding: 0px;
    margin: 0px;
}
.land-gal img {
    height: 100%;
    border: 3px solid orange;
}
.land-gal div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(196, 196, 173);
}